[submodule "BUHover"]
	path = BUHover
	url = https://github.com/BUInvent/BUHover.git
[submodule "BUBattle"]
	path = BUBattle
	url = https://github.com/BUInvent/BUBattle.git
[submodule "BUScoreApp"]
	path = BUScoreApp
	url = https://github.com/BUInvent/BUScoreApp.git
